body{
    /* background-color: rgba(170, 170, 170, 1); */
}
.flex{
    display: flex;
}

.text-b{
    color: #3A3A3A;
}
.btn{
    font-size: 1rem;
    font-weight: 900;
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 20px;
    padding: 15px;
    
}
.btn:hover{
   background-color: #c9054a;
   font-size: 1.2rem;
}
main > section{
    margin-top: 90px;
}
/* nav */
.navbar,.bannar{
    max-width: 1440px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
.navbar h4{
    font-size: 1.2rem;
    font-weight: 900;
    
}
.nav-contain{
    align-items: center;
    gap:4px;
}
.manu{
    list-style: none;
}
.links{
    text-decoration: none;
    padding-right: 20px;
    font-size: 1rem;
    font-weight: 600;
}
.icon{
    padding-right: 16px;
}
/* bannar */
.bannar{
    padding-top: 20px;
}
.heading{
    font-size: 3.4rem;
    font-weight: 900;
}
.paragraph{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}


/* main */
/* brands section */
.brands-name{
    max-width: 1110px;
    margin: 0px auto;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #AAAAAA;
    border-left: none;
    border-right: none;
    

}
.brands-name img{
    padding: 30px;
    /* align-items: center; */
}
/* card section */
.card-containar{
    max-width: 1440px;
    margin: 0px auto;

}
.card-containar h2{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: rgba(58, 58, 58, 1);
}
.card{
    padding: 30px 0px 30px 60px;

    background-color: white;
    box-shadow: 12px 10px 15px 20px #AAAAAA;
    width: 380px;
    height: 450px;

}
.card-head{
    font-size: 1.8rem;
    font-weight: 300;
    margin-left: -240px;
}
.card h4{
    font-size: 1rem;
}
.card-para i{
    color: rgba(251, 130, 0, 1);
}
.card-para{
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(120, 120, 133, 1);
}

.card-containar-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-left: 70px;
    margin-right: 130px;

}
.see{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(224, 44, 109, 0.87);
    padding-top: 30px;
    text-align: right;
}
.see i{
    color: rgba(224, 44, 109, 0.87);
}
/* feature section */
.feature-section{
    margin-top: 90px;
    /* padding-top: 30px; */
}
.feature{
    max-width: 1110px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}
.feature-head{
    font-size: 2.1rem;
    font-weight: bold;
}
.feature-para{
    font-size: 1rem;
    font-weight: 800;
    color: #6C6C6C;
}
.button{
    border-radius: 0px;
}
/* footer */
.footer{
    background-color: rgba(0, 25, 49, 1);
    background-color: ;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 30px;
}
.footer h2{
    font-size: 1.6rem;
    font-weight: 800;
}
.footer-para{
    font-size:1.1rem;
    font-weight: 900;
    color: rgba(217, 219, 225, 1);
}